langchain
langchain-core
boto3
botocore
langchain-community
langchain-aws
python-dotenv
streamlit
langserve
fastapi
uvicorn
sse_starlette
pyaudio
playsound==1.2.2
langchain_huggingface
huggingface-hub
langchain-chroma
langchain-huggingface      
langchain-openai           
langchain-text-splitters   
numpy           
onnxruntime  
opencv-python  
playsound         
safetensors      
sentence-transformers   
sentencepiece  
torch  
transformers
threadpoolctl
mediapipe